{% extends "base.html" %}
{% block titulo %}CLIENTES{% endblock %}




{% block contenido %}
    <div class="row">
        <h1>Clientes</h1>
    </div>
    <div class="row">
        <button class=" btn btn-primary col-sm-3" id="registrar">Registrar Cliente</button>
        <div style="display: none;" id="formulario_registro">
            <h2>Registrar Cliente.</h2>
        <form class="mx-4" id="formulario_registro_cliente">
            <div class="mb-3 mt-3">
                <label class="form-label" for="nombre">Nombre</label>
                <input class="form-control" type="text" id="nombre">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" for="correo">Correo</label>
                <input class="form-control" type="email" id="correo">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" for="telefono">Teléfono</label>
                <input class="form-control" type="text" id="telefono">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" for="direccion">Direccón</label>
                <input class="form-control" type="text" id="direccion">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" for="tcliente">Tipo de Cliente</label>
                <select id="tcliente">
                    <option value="individual">Individual</option>
                    <option value="empresa">Empresa</option>
                </select>
            </div>
        </form>
        <div class="mt-5">
            <button class="btn btn-danger mx-2" id="cancelar">Cancelar</button>
            <button class="btn btn-primary" id="guardar">Guardar</button>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>TELEFONO</th>
                <th>DIRECCÓN</th>
                <th>ESTADO</th>
            </tr>
            <tbody id="tbody">
                {% for cliente in clientes%}
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.estado}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}



{% block js %}
<script src="{{url_for('static', filename = 'js/clientes.js')}}"></script>
{% endblock %}