{% extends "base.html" %}
{% block titulo %}ACCEDER{% endblock %}
{% block contenido %}
<!-- Formulario de inicio de sesión -->
<div class="container">
    <h2 class="mt-3">Iniciar Sesión</h2>
    <form action="{{url_for('aut.login')}}" method="POST">
        <div class="mb-3 mt-3">
            <label class="form-label" for="email">Correo Electrónico</label>
            <input class="form-control" type="email" id="correo" name="correo">
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="contrasena">Contraseña</label>
            <input class="form-control" type="password" id="contrasena" name="contrasena">
        </div>
        <button type="submit" class="btn btn-primary">Acceder</button>
    </form>
</div>
{% endblock %}