{% extends "base.html" %}
{% block titulo %}Venta{% endblock %}

{% block contenido %}
<h2>Registro de venta</h2>
<div>
    <h4>Datos del Cliente</h4>
    <p id="cliente_id" cliente="{{ cliente.id }}">Nombre: {{ cliente.nombre }}</p>
    <p>Teléfono: {{ cliente.telefono }}</p>
    <p>Dirección de Envío: {{ cliente.direccion }}</p>
</div>
<div>
    <h4>Productos</h4>
    <div class="row">
    <!-- Tabla de selección de productos-->
     <div class="col">
        <!-- Input de busqueda-->
        <form id="formulario_busqueda">
           <label for="opcion_busqueda">Buscar por: </label>
           <select name="opcion_busqueda">
            <option value="nombre">Nombre</option>
            <option value="codigo">Código</option>
           </select>
           <input type="text" name="producto">
           <button type="button" class="btn btn-primary" id="boton_buscar">Buscar</button>
        </form>
        <div>
            <table class="table table-hover">
                <thead>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </thead>
                <tbody id="tabla_busqueda">
                    {% for producto in productos%}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>
                            <form class="formulario_agregar">
                                <input type="text" class="id_producto" value="{{ producto.id }}" readonly style="display: none;">
                                <input type="number" min="0" max="100" class="cantidad">
                                <button type="button" class="btn btn-success boton_agregar">Agregar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
     </div>
    <!-- Espacio de productos seleccionados-->
    <div id="resumen" class="col">
        <h5>Total</h5>
        <p id="total">0 $</p>
        <table class="table table-hover">
            <thead>
                <th>Nombre</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
            </thead>
            <tbody id="tabla_seleccionados">
                
            </tbody>
        </table>
        <button type="button" class="btn btn-primary mt-5" id="boton_guardar">Guardar</button>
    </div>
    </div>
</div>
<!-- Pantalla de confirmación -->
 <div class="pantallaNegra row" id="pantallaNegra">
    <div class="col"></div>
    <div class="col" id="pantallaConfirmacion">
        <div id="confirmacion_cliente_datos">
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Precio unitario</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </thead>
                <tbody id="tabla_confirmacion">

                </tbody>
            </table>
        </div>
        <h3 id="confirmacion_total"></h3>
        <button type="button" class="btn btn-danger" id="boton_cancelar_confirmacion">Cancelar</button>
        <button type="button" class="btn btn-success" id="boton_finalizar_confirmacion">Finalizar</button>
    </div>
    <div class="col"></div>

 </div>
{% endblock %}

{% block js%}
<script src="{{url_for('static', filename = 'js/venta.js')}}"></script>
{% endblock %}